
@use "../general/general__scss/colors" as *;



.header {
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__header {
  height:80px;
  width: 100vw;
}

.header__title {
  margin: 0px;
  color: $white;
}